body{
    background-color: rgb(255, 249, 240);
}

#miCanvas{
    border: 5px solid black;
    background-image: url("https://lh3.googleusercontent.com/vXHMr_3GnYGWxUWTvRwMGaICuIA4DsMGIL5Zv4Sp3Zt-D9cVKozNzuXBWgVifuR3rtKYftzC0Hj3WkeggpEbL7jLjb__9PrNRL68cNkivebxVPjyRSuVPERHIs-f6hKqoqyDDbt-eChHKcovVaxvrzWZ3aC94WmknN87zmy-aQ5l4rCLcsVHE7v1_lAZFC65eA-Mzea6U2HIzW869X3SU6A7nmwWPu4p-_y415IPzpV98vxSjpm4NYk-tzHHoeXI3O0R2lI-6l5E7-XEYQMmyb0EGREA--IDqMHoocU-9A26IYTPWVaspXFlFzb7gIZtNxt9kXEo0-v3CVWdC_AGTG8uBjAMzdOyi1insN8eO0n3msMlcmgI_NIp8pg6yyoI4wvGcWrBZ4ZNJ1vO1MK5oPjwOkG7KSNR-BiIyrTxiXJOg9pMuR1efjYOH6aSJh8i0FK-f8S9TjdpcdtEN8zqxTS6h5pp2vKZQs31C5D_WzLCZ6WaI6M8ImuswZMTvvoUmKDHQVPxCmyeLP30zfrNv_BaXrf4iJ2Pxh8W_1sVD8K1dU7QH-xK56isTVsfsBuspV9-udaBhEQcsJm2tX36sTB_-Fmwl2522dTHcjAoP-567aebVpFIlfGpDaI-tpkWnZW7Ijp2GN4NNftXVb2MPQAc0sCQIYhKupeP_fwolrZt23MKOcX1fQmuGCdCbpMlb87q0UAX-XPfxwdF--LUr_E=s600-no?authuser=1");
}