body{
    background-color: rgb(243, 247, 250);
    text-align: center;
    font-family: Arial;
  color: rgb(21, 54, 15);
  font-size: 13px;

}



#miCanvas{
    border: 2px solid black;
    background-image: url("images/mapa.jpg");
}